* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
}
hr {
	margin: 10px 0px 20px 0px;
}
.content {
	display: inline-block;
	margin: auto;
	padding: 10px;
}
table {
	border: solid 1px;
	margin: auto;
}
th {
	padding: 10px;
	background-color: gray;
}
td {
	padding: 10px;
}
tr:nth-child(even) td {
	background-color: rgba(0, 0, 0, 0.1);
}
